<div class="btn-group" role="group">
  <button type="button" class="btn btn-secondary" routerLink = "/login">Login</button>
  <button type="button" class="btn btn-secondary" routerLink = "/register">Register</button>
</div>


<div class = "main">
  <div class = "row">
  <div class = "form-group col-md-4 offset-md-4">
  <h2>Login</h2>
  </div>
  </div>
<div class = "row">
<div class = "form-group col-md-4 offset-md-4">
  <label for="loginemail">Email:</label>
  <input type="text" class="form-control" id="loginemail" name="loginemail" (keyup) = "loginInputForEmail($event)">
</div>
</div>
<div class = "row">
<div class = "form-group col-md-4 offset-md-4">
  <label for="loginpassword">Password:</label>
  <input type="Password" class="form-control" id="loginpassword" name="loginpassword" (keyup) = "loginInputForPassword($event)">
</div>
</div>
<div class = "row">
<div class = "form-group col-md-4 offset-md-4">
  <button class="btn btn-success" (click) = "loginButtonClick()">login!</button>

</div>
</div>
</div>
<p *ngIf="errorFlag">{{errorMessage}}</p>
