.profile p {
    font-size: 150%;
    padding: 25px;
}
.profile{
    border-bottom: 1px solid #ccc; 
}

.msgs{
  margin-top: 10px;
  height: 75vh;
  max-height: 60vh;
  overflow: scroll;
}

.send{
  border: 1px solid #ccc;
}
.form-control{
  border: none;
}
.chat{
  border: 1px solid #ccc;
}
