.search-box{
  style:none;
  height: 30px;
  display: block;
  outline: none;
  margin: auto;
  margin-top: 2%;
  border-radius: 25px;
  border: 1px solid #333;
  padding: 5px;
  width: 100%;
}
.main-container{
  margin-top: 80px;
}
.row{
  margin-left: 10px;
}

.names,
.search-container p {
  position: absolute;
  overflow: scroll;
  border-radius: 10px;
  background-color: #ddd;
}
.left{
  border-right: 2px solid #ccc;
  height: 100vh;
  max-height: 700px;
  overflow: scroll;
}

.friends{
  margin-top: 10px;
}
