.logo{
  height: 100px;
  width: auto;
}

.background {
    position: relative;
    min-width: 100%;
    min-height: 650px;
}

.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("r1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 650px;
}
.form{
  border: 2px;
}
.content{
  padding: 100px;
  color: white;
}
.row{
  color: white;
}
.form-group{
    display: inline;
}
footer {
    background-color: #333;
    padding: 15px;
    font-size: 80%;
}

.footer-content{
    color: #888;
    text-align: center;
    margin-top: 10px;
}

.footer-nav {
    list-style: none;
    float: left;
}
.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
}


/* Header */

.main-container{
    background-attachment: fixed;
    height: 10vh;
    background-color: #333;
}
.row2{
  overflow: auto;
  white-space: nowrap;
  background-color: #333;
  display: flex;
    align-items: center;
    justify-content: center;
}

.btn1{
    float: right;
    margin:1.5% 3% 0 0;
    display: inline-block;
    text-align: center;
    position: absolute;
    top:0;
    right: 0;
    color:#fff;
}

.btn1 li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
}
.btn1 li a:link,
.btn1 li a:visited{
    text-decoration: none;
    border: 0;
    color: #aaa;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.btn1 li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.main-container-text{
  padding-top: 15px;
  color: #ccc;
}

/* .header-links-style{
  padding : 5px 5px 5px 5px;
  margin : 10px 10px 10px 10px;
} */
