<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row main">
<div  class = "size"style = " background-color: white;border: 1px solid #bbb;">
  <small>DatePosted : {{datePosted}}</small>
  <h3 class="col-md-12" style = " color:#1A237E">{{postTexted}}</h3>
  <button *ngIf="isAdmin" (click)="deleteThisPost()">Delete!</button>

  <div *ngIf="imageFlag">
    <div class="card col-md-12">
    <img   class="img-responsive" src={{imgOrVid}}  class="img-thumbnail" width=90% height="300px">
    </div>
  </div>
  <div *ngIf="videoFlag" class="col-md-12"  height="300px">
    <video  controls id="videoPlayer" width=100% height="300px">
      <source src="{{videoSource}}" type="video/mp4" width=100% height="300px"/>
    </video>
  </div>

  <br>

</div>
</div>
