<div class = "main-container">
  <h1 class = "main-container-text">FaceBook</h1>
</div>
<nav>
    <a class = "header-links-style" routerLink = "/login" >Login</a>
    <a class = "header-links-style" routerLink = "/testing">Testing</a>
    <a class = "header-links-style" routerLink = "/register">Register</a>
</nav>

<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-warning">Warning</button> -->
<button id="btn"> click me to test jquery</button>
<router-outlet></router-outlet>
