<!-- 
<div class = "main-container">
  <div class="row">
  <h1 class = "main-container-text">Social World</h1>
    <ul class="btn1">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Sign Up</a></li>
    </ul>
</div>

</div>


<button type="button" class="btn btn-primary">Primary</button>

<button type="button" class="btn btn-secondary" routerLink = "/login">Login</button>
<button type="button" class="btn btn-secondary" routerLink = "/register">Sign Up</button>


<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-warning">Warning</button> -->
<!-- <button id="btn" > click me to test jquery</button> -->
<router-outlet></router-outlet>
