<textarea rows="4" cols="50" placeholder = "enter text" (keyup) = "posttext($event)" >

</textarea>
<br>
<p>Do you want your post to be commented</p>
<div>
<input type="radio"  id="yes" name="isCommentable"  vlaue= "yes"  (change) = "isCommentable($event)">
<p class="custom-control-label" for="yes">Yes</p>
</div>
<div>
<input type="radio"  id="no" name="isCommentable"  value = "no" (change) = "isCommentable($event)">
<p class="custom-control-label" for="no">No</p>
</div>

<input type="file" name="profilePic" accept="image/*|video/* " (change) = "onImageUpload($event)"><br><br>




<button type = "submit" (click) = "postcontent()">Post</button>
