<div class="row">
  <div class="col-md-4 offset-md-4 align-middle">
    <textarea class="text-area" placeholder = "enter text" (keyup) = "posttext($event)" ></textarea>
    <p>Do you want your post to be commented</p>
    <input type="radio" value="yes" name="commentability" (change) = radioCommentType($event)> Yes
    <input type="radio" value="no" name="commentability" (change) = radioCommentType($event)> No
    <div class="">
    <input type="file" name="profilePic" accept="image/*|video/* " (change) = "onImageUpload($event)">
    </div>
    <button class="btn btn-success" type = "submit" (click) = "postcontent()">Post</button>
  </div>
</div>
