<textarea rows="4" cols="50" placeholder = "enter text" (keyup) = "posttext($event)" >

</textarea>
<br>
<p>Do you want your post to be commented</p>
<input type="radio" value="yes" name="commentability" (change) = radioCommentType($event)> Yes
<input type="radio" value="no" name="commentability" (change) = radioCommentType($event)> No

<br/><br/>
<input type="file" name="profilePic" accept="image/*|video/* " (change) = "onImageUpload($event)"><br><br>




<button type = "submit" (click) = "postcontent()">Post</button>
