

<div>
  <img src="{{friendProfilePicture}}" class="rounded-circle" />
  <h3>{{ friendName }}</h3>
</div>

<div [ngSwitch]="isFriend">
  <div *ngSwitchCase="'1'">
    <button (click)="addFriend()">Add Friend</button>
  </div>
  <div *ngSwitchCase="'2'">
    <strong>Friend Request Sent</strong>
    <button (click)="cancelRequest()">Cancel Request</button>
  </div>
  <div *ngSwitchCase="'3'">
    <strong>Friends</strong>
    <button (click)="removeFriend()">Remove Friend</button>
  </div>
  <div *ngSwitchCase="'4'">
    <strong>Respond to Friend Request</strong>
    <div class="form-group">
      <select (change)="selectOption($event)">
        <option selected>Respond to Friend Request</option>
        <option value="1">Accept</option>
        <option value="0">Decline</option>
      </select>
    </div>
  </div>
</div>
