<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row main">
<div  class = "size"style = " background-color: white;border: 1px solid #bbb;">
  <small>DatePosted : {{datePosted}}</small>
  <h3 class="col-md-12" style = " color:#1A237E">{{postTexted}}</h3>

  <div *ngIf="imageFlag">
    <div class="card col-md-12">
    <img   class="img-responsive" src={{imgOrVid}}  class="img-thumbnail" width=90% height="300px">
    </div>
  </div>
  <div *ngIf="videoFlag" class="col-md-12"  height="300px">
    <video  controls id="videoPlayer" width=100% height="300px">
      <source src="{{videoSource}}" type="video/mp4" width=100% height="300px"/>
    </video>
  </div>

    <!-- <button class="comment-btn" (click)="openComments()" style="font-size:15px">Comment <i class="fa fa-comments-o"></i></button> -->

  <br>
    <button *ngIf="!requestComments" type="button" class="comment-btn" style="font-size:15px"  (click)="openComments()">Comments <i class="fa fa-comments-o"></i> </button>
    <button *ngIf="requestComments" type="button" class="comment-btn" style="font-size:15px"  (click)="requestForComments()">Request permission to Comment! <i class="fa fa-comments-o"></i> </button>
    <p *ngIf="serverResponseFlag">{{serverResponse}}</p>

    <div *ngIf = "showCommentsFlag">
      <div class = "row col-md-12 commentSection">
      <input type="text" class="form-control col-md-10" id="commentText" name="commentText"   placeholder = " Write a comment..."(keyup) = "onCommentTextEntered($event)">
      <input type="file" id="files" class="hidden" name ="commentPic" accept="image/*|video/* " (change) = "onImageUpload($event)">
      <label for="files" class="camera  col-md-1"><span class="glyphicon">&#xe046;</span></label>

      <button  type="button col-md-1" class="post btn btn-secondary btn-sm" (click)="postNewComment()" >Post</button>
      </div>
      <app-each-comment-of-posts *ngFor="let eachCommentId of commentIdArray" [eachCommentId]="eachCommentId"></app-each-comment-of-posts>
    </div>
</div>
</div>










<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> -->
