/* Header */
.scrollmenu{
    background: #ccc;
}
.page{
  background-color: #90caf9
}

.scrollmenu::-webkit-scrollbar {
                display: none;
            }

.main-container{
    background-attachment: fixed;
    height: 80px;
    /* position: fixed; */
    z-index: 100;
    width: 100%;
    background-color: #333;
}

p{
  text-transform: capitalize;
}

.search-box{
  vertical-align: middle;
  display: block;
  outline: none;
  margin: auto;
  border-radius: 25px;
  border: 2px solid #333;
  padding: 15px;
}

.search-container {
  width: 300px;
  margin-top: 25px;
  margin-left: 40px;
  z-index: 100;
}

.search-results,
.search-container p {
  margin-left: 10px;
  position: absolute;
  overflow: scroll;
  max-height: 200px;
  width: 300px;
  border-radius: 10px;
  background-color: #ddd;
}

.logo{
  height: 80px;
  width: auto;
  margin-left: 180px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 25px;
}
.scrollmenu{
  overflow: auto;
  white-space: nowrap;
  background-color: #333;
}

.main-nav li {
    display: inline-block;
    margin-left: 25px;
}

#name{
      color: #eee;
}
.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    border: 0;
    color: #aaa;
    transition: color 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    color: #ddd;
}

img{
  margin-right: 5px;
}
